<div class="ingredient__container">
  <div class="ingredient__list__container">
    <mat-list class="ingredient__list" *ngIf="ingredientPaginated">
      <mat-list-item (click)="onClick(ingredient)" (mouseenter)="onEnter(ingredient)" (mouseleave)="onLeave()"
        class="ingredient__list__item" *ngFor="let ingredient of ingredientPaginated.ingredientDTO">
        <a>
          <h3 matLine>{{ingredient.name}}</h3>
        </a>
      </mat-list-item>
    </mat-list>
    <mat-card *ngIf="ingredientCard" class="ingredient__list__card">
      <mat-card-title>Name: {{ingredientCard.name}}</mat-card-title>
      <mat-card-content>Price: {{ingredientCard.priceHrk}}kn</mat-card-content>
    </mat-card>
  </div>
  <mat-paginator *ngIf="ingredientPaginated" class="ingredient__list__paginator"
    [length]="ingredientPaginated.totalElements" [pageSize]="10" [pageSizeOptions]="[10]" (page)="getPage($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
