<div style="padding-top: 50px;">
  <div style="width: 300px; margin: 0 auto">
    <mat-form-field style="width:100%">
      <input matInput type="text" placeholder="username" [(ngModel)]="username">
    </mat-form-field>
  </div>
  <div style="width: 300px; margin: 0 auto">
    <mat-form-field style="width:100%">
      <input matInput type="password" placeholder="password" [(ngModel)]="password">
    </mat-form-field>
  </div>
  <div style="width: 200px; margin: 0 auto; text-align:center">
    <button style="width: 100%" mat-raised-button (click)="onLogin()">Login</button>
  </div>
  <div *ngIf="error != ''">
    {{error}}
  </div>
</div>
