<mat-toolbar color="primary" class="navbar">
  <div class="navbar_div">
    <div style="display: inline-block;">
      <button mat-button>
        <a routerLink="/recipe"> Recipe</a>
      </button>
    </div>
    <div style="display: inline-block;">
      <button mat-button>
        <a routerLink="/ingredient"> Ingredient</a>
      </button>
    </div>
    <div style="display: inline-block;">
      <button mat-button>
        <a routerLink="/shopping-list"> Shopping list</a>
      </button>
    </div>
  </div>
</mat-toolbar>
