<mat-toolbar color="primary" class="navbar">
  <div class="navbar_div">
    <div>
      <div style="display: inline-block;">
        <button routerLink="/recipe" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" mat-button>
          <a> Recipe</a>
        </button>
      </div>
      <div style="display: inline-block;">
        <button routerLink="/ingredient" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
          mat-button>
          <a> Ingredient</a>
        </button>
      </div>
      <div style="display: inline-block;">
        <button routerLink="/shopping-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
          mat-button>
          <a> Shopping list</a>
        </button>
      </div>
    </div>
    <div>
      <div style="display: inline-block;" *ngIf="!isAuthenticated">
        <button routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" mat-button>
          <a> Login</a>
        </button>
      </div>
      <div style="display: inline-block;" *ngIf="isAuthenticated">
        <button (click)="onLogout()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" mat-button>
          <a> Logout</a>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
